<mjml>
  <mj-head>
    <mj-preview>Här är ditt nya Pranzo kort utfärdat av <%= @voucher.vendor.name%></mj-preview>
  </mj-head>
  <mj-body>
    <mj-container>
      <mj-section>
        <mj-column>
          <mj-image src="https://pranzo.se/assets/pranzo_color.aac7c6db.png" width="250px" height="auto" />
          <mj-spacer height="20px" />
          <mj-text style="font-weight:bold;">Här är ditt nya Pranzo kort utfärdat av <%= @voucher.vendor.name%></mj-text>
          <% if @voucher.pass_kit_id %>
            <mj-text>
              Du kan lägga till ditt kort till Apple Wallet eller Googgle Wallet
              <a href="https://pub1.pskt.io/<%= @voucher.pass_kit_id%>">genom att följa den här länken.</a></mj-text>
          <% end %>
          <mj-text>Hälsningar, </mj-text>
          <mj-text><%= @voucher.vendor.name%> och Pranzo.se </mj-text>
          <mj-spacer height="20px" />
          <mj-image src="<%=@voucher.dark_qr_code_path%>" width="60px" height="60px" />
          <mj-text><%= @voucher.code%></mj-text>
          </mj-column>
        </mj-section>
      </mj-container>
    </mj-body>
  </mjml>
